In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [2]:
dataZoo = pd.read_csv("D:/DS&A/Lab/Lab04/zoo.csv")

In [3]:
dataZoo.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [4]:
dataZoo.shape

(100, 18)

In [5]:
x = dataZoo.iloc[:,1:17]

In [6]:
y = dataZoo.iloc[:,17]

In [7]:
y.head()

0    1
1    1
2    4
3    1
4    1
Name: class_type, dtype: int64

In [8]:
y.shape

(100,)

In [14]:
X_train,X_test,y_train,y_test = train_test_split(x,y, test_size=0.25)

In [15]:
X_test.shape

(25, 16)

In [16]:
X_train.shape

(75, 16)

In [17]:
classifierZ = DecisionTreeClassifier(random_state=0)

In [18]:
classifierZ.fit(X_train,y_train)

DecisionTreeClassifier(random_state=0)

In [19]:
classifierZ.score(X_test,y_test)

0.92

In [20]:
classifierZ.predict(X_test[10:15])

array([1, 7, 4, 1, 1], dtype=int64)

In [21]:
y_test[10:15]

10    1
98    7
37    4
48    1
44    1
Name: class_type, dtype: int64